{% extends 'base/base.html' %}

{% block side_bar %} {% endblock %}
{% block top_bar %} {% endblock %}
{% block page_content %} {% endblock %}
{% block footer %} {% endblock %}

{% block login %}
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <!-- Aquí está el perro -->
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                                    <small class="text-danger">
                                        {% if form.errors %}
                                            {% for field in form %}
                                                {% if field.errors %}
                                                    {% for error in field.errors %}
                                                        {{ error|escape }}
                                                    {% endfor%}
                                                {% endif %}
                                            {% endfor %}

                                            {% if form.non_field_errors %}
                                                {% for error in form.non_field_errors %}
                                                    {{ error|escape}}
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    </small>
                                </div>
                                <form class="user" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                            id="id_username" name="username" aria-describedby="emailHelp"
                                            placeholder="Usuario">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="id_password" name="password" placeholder="Password">
                                    </div>

                                    {#{ form.as_p }#}


                                    <button type="submit" class="btn btn-primary btn-user btn-block">Acceder</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}