{% extends 'base/base.html' %}

{% block page_content %}
<form method="POST" class="form-inline">
  {% csrf_token %}
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">¿Eliminar {{ obj.descripcion }}?</div>
                      <button type="submit" class="btn btn-danger"><i class="far fa-question-circle"></i> Sis </button>
                      <a href="{% url 'inv:producto_list' %}" class="btn btn-success"><span class="fa fa-undo"></span> Non </a>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>
{% endblock %}
{% block js_page %}
{% endblock %}